.App {
  text-align: center;
}
code {
  background-color: #000;
  color: #fff;
  padding: 7px 15px;
}
button {
  margin: 0px 5px;
  cursor: pointer;
  padding: 7px 13px;
  background-color: rgb(71, 14, 230);
  border: none;
  color: white;
}
.useEffect-area h5 {
  margin-bottom: -20px;
}
.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user {
  width: 20rem;
}
input {
  padding: 5px 10px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -30px;
  margin-bottom: -30px;
  padding: 30px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
